{% extends "base.html" %} {% load static %} {% block content %}
<div class="profile">
    <!-- AVATAR. NAME,. USERNAME  -->
    <div class="profile__ava">
        <img src="{% static 'images/common/Img.jpg' %}" alt="">
        <div class="profile-notification">
            <object data="{% static 'images/svg/notification.svg' %}" type=""></object>
        </div>
    </div>
    <div class="profile__name">{{ first_last_name }}</div>
    <div class="profile__nick">@{{ username }}</div>
    <!-- AVATAR. NAME,. USERNAME  -->

    <!-- NUMBER OF SUBSCRIBERS AND SUBSCRIPTIONS. -->
    <ul class="profile-stat">
        <li class="profile-stat__followers">
            <strong>12</strong>
            <span>Followers</span>
        </li>
        <li class="profile-stat__following">
            <strong>229</strong>
            <span>Following</span>
        </li>
    </ul>
    <!-- NUMBER OF SUBSCRIBERS AND SUBSCRIPTIONS. -->

    <!-- PROFILE ACTIONS -->
    <div class="profile-action">
        <!-- COPY USERNAME TO CLIPBOARD -->
        <div class="profile-action-item profile-action-item__copy">
            <object data="{% static 'images/svg/copy_to_clipboard.svg' %}" type=""></object>
        </div>
    </div>
    <!-- PROFILE ACTIONS -->

    <!-- SHARE LINKS -->
    <div class="profile-link">
        <div class="profile-link__address profile-link__address--1 active">www.linki.zhanhuo1.com</div>
        <div class="profile-link__address profile-link__address--2">www.linki.zhanhuo2.com</div>
        <div class="profile-link-action">
            <div class="profile-link-item profile__btn1 active">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 22.6569C8 18.9278 11.623 16 16 16C20.377 16 24 18.9278 24 22.6569C24 27.1144 8 27.1144 8 22.6569ZM22 22.6569C22 20.1375 19.355 18 16 18C12.645 18 10 20.1375 10 22.6569C10 23.0973 11.6712 23.6852 14.037 23.9087L14.5737 23.9521L15.131 23.9823C15.2254 23.9861 15.3206 23.9894 15.4165 23.992L16 24L16.5835 23.992C16.6794 23.9894 16.7746 23.9861 16.869 23.9823L17.4263 23.9521L17.963 23.9087C20.3288 23.6852 22 23.0973 22 22.6569Z" fill="#0091FF" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C12 8.79086 13.7909 7 16 7C18.2091 7 20 8.79086 20 11C20 13.2091 18.2091 15 16 15C13.7909 15 12 13.2091 12 11ZM18 11C18 9.89543 17.1046 9 16 9C14.8954 9 14 9.89543 14 11C14 12.1046 14.8954 13 16 13C17.1046 13 18 12.1046 18 11Z" fill="#0091FF" />
                <path class="profile__btn1-path" d="M9.3753 7.21917C9.80657 6.87416 10.4359 6.94408 10.7809 7.37534C11.0993 7.77343 11.0643 8.34025 10.7178 8.69646L10.6247 8.78091C10.2394 9.08918 10 9.80725 10 11C10 12.1133 10.2085 12.813 10.5496 13.152L10.6247 13.2192C11.056 13.5642 11.1259 14.1935 10.7809 14.6247C10.4359 15.056 9.80657 15.1259 9.3753 14.7809C8.42731 14.0225 8 12.7406 8 11C8 9.25949 8.42731 7.97756 9.3753 7.21917Z" fill="#0091FF" />
              </svg>
            </div>
            <div class="profile-link-item profile__btn2">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 22.6569C8 18.9278 11.623 16 16 16C20.377 16 24 18.9278 24 22.6569C24 27.1144 8 27.1144 8 22.6569ZM22 22.6569C22 20.1375 19.355 18 16 18C12.645 18 10 20.1375 10 22.6569C10 23.0973 11.6712 23.6852 14.037 23.9087L14.5737 23.9521L15.131 23.9823C15.2254 23.9861 15.3206 23.9894 15.4165 23.992L16 24L16.5835 23.992C16.6794 23.9894 16.7746 23.9861 16.869 23.9823L17.4263 23.9521L17.963 23.9087C20.3288 23.6852 22 23.0973 22 22.6569Z" fill="white" />
                <path class="profile__btn2-path2" d="M21.2192 7.37534C21.5642 6.94408 22.1935 6.87416 22.6247 7.21917C23.5727 7.97756 24 9.25949 24 11C24 12.7406 23.5727 14.0225 22.6247 14.7809C22.1935 15.1259 21.5642 15.056 21.2192 14.6247C20.9007 14.2266 20.9358 13.6598 21.2823 13.3036L21.3753 13.2192C21.7607 12.9109 22 12.1928 22 11C22 9.88677 21.7915 9.18703 21.4504 8.84804L21.3753 8.78091C20.9441 8.4359 20.8742 7.8066 21.2192 7.37534Z" fill="white" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C12 8.79086 13.7909 7 16 7C18.2091 7 20 8.79086 20 11C20 13.2091 18.2091 15 16 15C13.7909 15 12 13.2091 12 11ZM18 11C18 9.89543 17.1046 9 16 9C14.8954 9 14 9.89543 14 11C14 12.1046 14.8954 13 16 13C17.1046 13 18 12.1046 18 11Z" fill="white" />
                <path class="profile__btn2-path1" d="M9.3753 7.21917C9.80657 6.87416 10.4359 6.94408 10.7809 7.37534C11.0993 7.77343 11.0643 8.34025 10.7178 8.69646L10.6247 8.78091C10.2394 9.08918 10 9.80725 10 11C10 12.1133 10.2085 12.813 10.5496 13.152L10.6247 13.2192C11.056 13.5642 11.1259 14.1935 10.7809 14.6247C10.4359 15.056 9.80657 15.1259 9.3753 14.7809C8.42731 14.0225 8 12.7406 8 11C8 9.25949 8.42731 7.97756 9.3753 7.21917Z" fill="white" />
              </svg>
            </div>
            <div class="profile-link-action__bg left"></div>
        </div>
    </div>
    <!-- SHARE LINKS -->
</div>
<div class="qr">
    <div class="qr-container">
        <div class="qr__close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.320204">
                <path d="M6.29289 6.29289C6.65338 5.93241 7.22061 5.90468 7.6129 6.2097L7.70711 6.29289L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3466 18.0676 16.7794 18.0953 16.3871 17.7903L16.2929 17.7071L6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289Z" fill="black" />
                <path d="M16.2929 6.29289C16.6834 5.90237 17.3166 5.90237 17.7071 6.29289C18.0676 6.65338 18.0953 7.22061 17.7903 7.6129L17.7071 7.70711L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.93241 17.3466 5.90468 16.7794 6.2097 16.3871L6.29289 16.2929L16.2929 6.29289Z" fill="black" />
              </g>
            </svg>
        </div>
        <img src="static/images/common/QR.jpg" alt="">
    </div>
</div>
<div class="notifications child">
    <div class="notifications-top">
        <div class="notifications-top__close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.320204">
                <path d="M6.29289 6.29289C6.65338 5.93241 7.22061 5.90468 7.6129 6.2097L7.70711 6.29289L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3466 18.0676 16.7794 18.0953 16.3871 17.7903L16.2929 17.7071L6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289Z" fill="black" />
                <path d="M16.2929 6.29289C16.6834 5.90237 17.3166 5.90237 17.7071 6.29289C18.0676 6.65338 18.0953 7.22061 17.7903 7.6129L17.7071 7.70711L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.93241 17.3466 5.90468 16.7794 6.2097 16.3871L6.29289 16.2929L16.2929 6.29289Z" fill="black" />
              </g>
            </svg>
        </div>
        <div class="notifications-top__title">Notifications</div>
    </div>
    <div class="notifications-body">
        <div class="notifications-item">
            <div class="notifications-item__ava">
                <img src="static/images/common/n1.jpg" alt="">
            </div>
            <div class="notifications-item-info">
                <div class="notifications-item__name">Nahia Colunga</div>
                <p>started following you <span>16h</span>
                </p>
            </div>
        </div>
        <div class="notifications-item">
            <div class="notifications-item__ava">
                <img src="static/images/common/n2.jpg" alt="">
            </div>
            <div class="notifications-item-info">
                <div class="notifications-item__name">Okazaki Suzuko</div>
                <p>started following you <span>16h</span>
                </p>
            </div>
        </div>
        <div class="notifications-item">
            <div class="notifications-item__ava">
                <img src="static/images/common/n3.jpg" alt="">
            </div>
            <div class="notifications-item-info">
                <div class="notifications-item__name">Wulf Kindler</div>
                <p>started following you <span>16h</span>
                </p>
            </div>
        </div>
        <div class="notifications-item">
            <div class="notifications-item__ava">
                <img src="static/images/common/n4.jpg" alt="">
            </div>
            <div class="notifications-item-info">
                <div class="notifications-item__name">Emlen Beaver</div>
                <p>started following you <span>16h</span>
                </p>
            </div>
        </div>
        <div class="notifications-item">
            <div class="notifications-item__ava">
                <img src="static/images/common/n5.jpg" alt="">
            </div>
            <div class="notifications-item-info">
                <div class="notifications-item__name">Virendra Sana</div>
                <p>started following you <span>16h</span>
                </p>
            </div>
        </div>
        <div class="notifications-item">
            <div class="notifications-item__ava">
                <img src="static/images/common/n6.jpg" alt="">
            </div>
            <div class="notifications-item-info">
                <div class="notifications-item__name">Cao Yu</div>
                <p>started following you <span>16h</span>
                </p>
            </div>
        </div>
        <div class="notifications-item">
            <div class="notifications-item__ava">
                <img src="static/images/common/n7.jpg" alt="">
            </div>
            <div class="notifications-item-info">
                <div class="notifications-item__name">Vladěna Klímková</div>
                <p>started following you <span>16h</span>
                </p>
            </div>
        </div>
        <div class="notifications-item">
            <div class="notifications-item__ava">
                <img src="static/images/common/n8.jpg" alt="">
            </div>
            <div class="notifications-item-info">
                <div class="notifications-item__name">Grigoriy Kozhukhov</div>
                <p>started following you <span>16h</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="follow followers child">
    <div class="follow-top">
        <div class="follow-top__close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.320204">
                <path d="M6.29289 6.29289C6.65338 5.93241 7.22061 5.90468 7.6129 6.2097L7.70711 6.29289L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3466 18.0676 16.7794 18.0953 16.3871 17.7903L16.2929 17.7071L6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289Z" fill="black" />
                <path d="M16.2929 6.29289C16.6834 5.90237 17.3166 5.90237 17.7071 6.29289C18.0676 6.65338 18.0953 7.22061 17.7903 7.6129L17.7071 7.70711L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.93241 17.3466 5.90468 16.7794 6.2097 16.3871L6.29289 16.2929L16.2929 6.29289Z" fill="black" />
              </g>
            </svg>
        </div>
        <div class="follow-top__title">Followers</div>
    </div>
    <div class="follow-body">
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fs1.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Virendra Sana</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__remove">Remove</div>
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-blue">
                    <svg class="svg-sprite-icon icon-Both">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#Both"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fs2.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Virendra Sana</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__remove">Remove</div>
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-blue">
                    <svg class="svg-sprite-icon icon-Both">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#Both"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fs3.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Virendra Sana</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__remove">Remove</div>
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-blue">
                    <svg class="svg-sprite-icon icon-Both">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#Both"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fs4.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Virendra Sana</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__remove">Remove</div>
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-blue">
                    <svg class="svg-sprite-icon icon-Both">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#Both"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fs5.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Virendra Sana</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__remove">Remove</div>
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-blue">
                    <svg class="svg-sprite-icon icon-Both">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#Both"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fs6.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Virendra Sana</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__remove">Remove</div>
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-blue">
                    <svg class="svg-sprite-icon icon-Both">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#Both"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fs7.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Virendra Sana</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__remove">Remove</div>
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-blue">
                    <svg class="svg-sprite-icon icon-Both">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#Both"></use>
                </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="follow following child">
    <div class="follow-top">
        <div class="follow-top__close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.320204">
                <path d="M6.29289 6.29289C6.65338 5.93241 7.22061 5.90468 7.6129 6.2097L7.70711 6.29289L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3466 18.0676 16.7794 18.0953 16.3871 17.7903L16.2929 17.7071L6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289Z" fill="black" />
                <path d="M16.2929 6.29289C16.6834 5.90237 17.3166 5.90237 17.7071 6.29289C18.0676 6.65338 18.0953 7.22061 17.7903 7.6129L17.7071 7.70711L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.93241 17.3466 5.90468 16.7794 6.2097 16.3871L6.29289 16.2929L16.2929 6.29289Z" fill="black" />
              </g>
            </svg>
        </div>
        <div class="follow-top__title">Following</div>
    </div>
    <div class="follow-body">
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fg1.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Mahnaz Farzin</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-blue">
                    <svg class="svg-sprite-icon icon-Both">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#Both"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fg2.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Nadine Petrolli</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-gray">
                    <svg class="svg-sprite-icon icon-OneD">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#OneD"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fg3.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Leonetta Lloyd</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-gray">
                    <svg class="svg-sprite-icon icon-OneD">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#OneD"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fg4.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Bansilal Brata</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-gray">
                    <svg class="svg-sprite-icon icon-OneD">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#OneD"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fg5.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Beth Murphy</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-gray">
                    <svg class="svg-sprite-icon icon-OneD">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#OneD"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fg6.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Naseema Al Morad</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-gray">
                    <svg class="svg-sprite-icon icon-OneD">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#OneD"></use>
                </svg>
                </div>
            </div>
        </div>
        <div class="follow-item">
            <div class="follow-item__ava">
                <img src="static/images/common/fg7.jpg" alt="">
            </div>
            <div class="follow-item-info">
                <div class="notifications-item__name">Otmar Doležal</div>
                <p>last seen recently</p>
                <div class="follow-item-action">
                    <div class="follow-item-action__follow">Follow</div>
                </div>
            </div>
            <div class="follow-item-icon">
                <div class="follow-item-icon-blue">
                    <svg class="svg-sprite-icon icon-Both">
                  <use xlink:href="static/images/sprite/symbol/sprite.svg#Both"></use>
                </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="remove">
    <div class="remove-container">
        <div class="remove__close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.320204">
                <path d="M6.29289 6.29289C6.65338 5.93241 7.22061 5.90468 7.6129 6.2097L7.70711 6.29289L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3466 18.0676 16.7794 18.0953 16.3871 17.7903L16.2929 17.7071L6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289Z" fill="black" />
                <path d="M16.2929 6.29289C16.6834 5.90237 17.3166 5.90237 17.7071 6.29289C18.0676 6.65338 18.0953 7.22061 17.7903 7.6129L17.7071 7.70711L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.93241 17.3466 5.90468 16.7794 6.2097 16.3871L6.29289 16.2929L16.2929 6.29289Z" fill="black" />
              </g>
            </svg>
        </div>
        <div class="remove__title">Remove Follower?</div>
        <p>We won’t tell <span>Sofietje Boksem </span>they were removed from your followers. </p>
        <div class="remove-action">
            <div class="remove__cancel">Cancel</div>
            <div class="remove__btn">Remove</div>
        </div>
    </div>
</div>
<div class="copied">
    <span>Copied</span>
</div>
</main>
{% endblock %}